body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #0b1f16;
  color: #e6ffe6;
}

nav {
  background-color: #08150f;
  padding: 15px;
  text-align: center;
  position: sticky;
  top: 0;
}

nav a {
  color: #9dffb3;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: red;
  text-shadow: 0 0 8px red;
}

.header {
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-box {
  background-color: rgba(0,0,0,0.6);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px black;
}

.section {
  padding: 40px;
}

.card {
  background-color: rgba(0,0,0,0.55);
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 0 18px #003d1f;
}

img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 0 0 15px black;
}

img:hover {
  transform: scale(1.03);
}

.glow-text {
  color: #9dffb3;
  text-shadow:
    0 0 5px #1aff66,
    0 0 10px #0f8033;
}
