* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #0b1f16;
  color: #e6fff2;
}

nav {
  background-color: #07150f;
  padding: 15px;
  text-align: center;
  position: sticky;
  top: 0;
}

nav a {
  color: #7dffb3;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover { color: red; }

.header {
  height: 320px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-box {
  background-color: rgba(0,0,0,0.7);
  padding: 30px 45px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 25px black;
}

.header-box h1 {
  color: #7dffb3;
  text-shadow: 2px 2px 8px black;
}

.section {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

.card {
  background-color: #112a20;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,255,150,0.3);
}

.card h2 {
  text-align: center;
  color: #7dffb3;
  text-shadow: 2px 2px 6px black;
}

.card p {
  line-height: 1.9;
  text-align: justify;
}

.story-links {
  text-align: center;
  margin-bottom: 30px;
}

.story-links a {
  color: #7dffb3;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.story-links a:hover { color: red; }

img {
  width: 100%;
  margin: 30px 0;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(255,0,0,0.4);
}
