*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    color:white;
}

nav{
    position:sticky;
    top:0;
    z-index:1000;
    background:rgba(5,20,60,0.85);
    padding:15px;
    display:flex;
    justify-content:center;
    gap:30px;
}

nav a{
    color:#e6f2ff;
    text-decoration:none;
    font-weight:bold;
    padding:8px 15px;
    border-radius:20px;
}

nav a:hover{
    background:#1a75ff;
}

.header{
    background:rgba(0,0,0,0.6);
    padding:70px;
    text-align:center;
}

.header h1{
    font-size:45px;
}

.header p{
    margin-top:10px;
    font-size:18px;
}

.content{
    background:rgba(0,0,0,0.7);
    margin:40px;
    padding:40px;
    border-radius:15px;
    line-height:1.8;
}

span{
    color:#66ccff;
    font-weight:bold;
}

.post{
    margin-bottom:50px;
}

.post img{
    width:100%;
    max-width:400px;
    border-radius:12px;
    margin:15px 0;
}

.gallery img{
    width:250px;
    margin:15px;
    border-radius:15px;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.1);
}

.about{
    display:flex;
    gap:30px;
}

.about img{
    width:200px;
    border-radius:50%;
    border:3px solid #66ccff;
}

footer{
    background:#050f2f;
    text-align:center;
    padding:15px;
    font-size:14px;
}
