*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body{
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    color:#f2f6ff;
}

nav{
    position:sticky;
    top:0;
    z-index:1000;
    background:rgba(5,20,60,0.9);
    padding:15px;
    display:flex;
    justify-content:center;
    gap:35px;
}

nav a:link{
    color:#e6f2ff;
    text-decoration:none;
}

nav a:visited{
    color:#b3d9ff;
}

nav a:hover{
    background:#1a75ff;
    color:#ffffff;
}

nav a:active{
    background:#003d99;
    color:#ffffff;
}nav a:link{
    color:#e6f2ff;
    text-decoration:none;
}

nav a:visited{
    color:#b3d9ff;
}

nav a:hover{
    background:#1a75ff;
    color:#ffffff;
}

nav a:active{
    background:#003d99;
    color:#ffffff;
}

.header{
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    padding:90px 40px;
    text-align:center;
}

.header h1{
    font-size:48px;
    letter-spacing:1px;
}

.header p{
    margin-top:15px;
    font-size:20px;
}

.content{
    background:rgba(0,0,0,0.75);
    margin:50px auto;
    padding:50px;
    max-width:1000px;
    border-radius:18px;
    line-height:1.9;
}

.content p{
    font-size:18px;
    margin-bottom:18px;
}

span{
    color:#6ecbff;
    font-weight:700;
}

.video-box{
    margin-top:30px;
    border-radius:15px;
    overflow:hidden;
}

.video-box iframe{
    width:100%;
    height:420px;
    border:none;
}

.post{
    margin-bottom:60px;
}

.post h2{
    font-size:26px;
}

.post img{
    width:100%;
    max-width:450px;
    display:block;
    margin:20px auto;
    border-radius:18px;
}.gallery{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:30px;
}

.gallery-item{
    background:rgba(0,0,0,0.6);
    border-radius:20px;
    padding:20px;
    width:340px;
    text-align:center;
}

.gallery-item img{
    width:100%;
    height:230px;
    object-fit:cover;
    border-radius:18px;
    transition:0.4s;
}

.gallery-item img:hover{
    transform:scale(1.05);
}

.gallery-item p{
    margin-top:15px;
    font-size:17px;
}

.about{
    display:flex;
    gap:40px;
    align-items:center;
}

.about img{
    width:230px;
    border-radius:50%;
    border:4px solid #6ecbff;
}

footer{
    background:#050f2f;
    text-align:center;
    padding:18px;
    font-size:14px;
}


