body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #003366;
}


nav {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(30, 94, 255, 0.9);
}

nav img {
    width: 45px;
    margin-right: 15px;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
    text-decoration: underline;
}


.container {
    width: 85%;
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 25px;
    border-radius: 12px;
}


h1, h2 {
    color: #1e5eff;
}


.highlight {
    color: #1e5eff;
    background-color: #dbe8ff;
    padding: 3px 6px;
    border-radius: 5px;
    font-weight: bold;
}


img.content-img {
    width: 280px;
    margin: 10px 0;
    border-radius: 12px;
}


.post {
    margin-bottom: 35px;
}


.gallery img {
    width: 250px;
    margin: 10px;
    border-radius: 12px;
    transition: transform 0.3s, opacity 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    opacity: 0.8;
}


footer {
    background-color: rgba(30, 94, 255, 0.9);
    color: white;
    text-align: center;
    padding: 12px;

}
