body {
    margin: 0;
    font-family: Verdana;
    background-color: #242b28;
    color: #e6e6e6;
}

.container {
    padding: 45px;
}

h1, h2 {
    letter-spacing: 4px;
    color: #b7d2c3;
    text-shadow: 0 0 8px black;
}

.box {
    background-color: #1f2623;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 0 18px black;
    margin-top: 30px;
}

img {
    width: 80%;
    display: block;
    margin: 25px auto;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}

img:hover {
    transform: scale(1.03);
}
