body {
    margin: 0;
    font-family: Verdana;
    background-color: #2f2f2f;
    color: #e0e0e0;
}

.container {
    padding: 60px;
}

h2 {
    color: #8b1a1a;
    letter-spacing: 5px;
    font-size: 36px;
    text-shadow: 2px 2px 8px #000;
}

p {
    font-size: 18px;
    line-height: 1.9;
}

.box {
    background-color: #3b3b3b;
    padding: 40px;
    border-radius: 22px;
    box-shadow: 0 0 25px #000;
    margin-top: 35px;
    border: 1px solid #555;
}

.warning {
    margin-top: 30px;
    padding: 18px 22px;
    background-color: #444444;
    border-left: 6px solid #8b1a1a;
    color: #cccccc;
    font-style: italic;
    border-radius: 10px;
    box-shadow: 0 0 12px #000;
}

img {
    width: 75%;
    margin-top: 40px;
    border-radius: 18px;
    box-shadow: 0 0 25px #000;
}

img:hover {
    transform: scale(1.03);
}
