body {
    margin: 0;
    font-family: Verdana;
    background-color: #e4e4e4;
    color: #333;
}

.container {
    padding: 60px;
}

h2 {
    color: #7b1e1e;
    letter-spacing: 4px;
    text-shadow: 1px 1px 5px #aaa;
}

p {
    font-size: 18px;
    line-height: 1.9;
    margin-bottom: 18px;
}

.box {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 18px;
    box-shadow: 0 0 20px #b5b5b5;
    margin-top: 30px;
}

img {
    width: 70%;
    margin-top: 35px;
    border-radius: 15px;
    box-shadow: 0 0 20px #999;
}

img:hover {
    transform: scale(1.03);
}

